
#container {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}


#quote-box {
    background-color: white;
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
}

#author {
    font-size: 1em;
}

#new-quote {
    font-size: 1em;
    color: white;
}

#new-tweet {
    
}