#container {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote-box {
    background-color: white;
    width: 800px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

#text {
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

#quote-author{
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

#author {
    font-size: 20px;
    padding-right: 20px;    
}

#quote-buttons{
    display: flex;
    justify-content: space-evenly;
    width: 100%;    
}

#new-quote {
    font-size: 1em;
    color:white;
}

#footer {
    display: flex;
    align-items: center;
}

#footer a {
    color:white;
    text-decoration: none;
}
